body {
	background-color:#333
}

.container {
	margin: 10% 10%;
	background-color: magenta;
	width: 80%;
}

.user_img_container {
	text-align: center;
}

.user_img {
	margin-top: 5%;
}

.registration_form input {
	margin-left: 180px;	
}

.registration_form_container {
	text-align: center;
}

.registration_form label {
	position: absolute;
}

.registration_button label`{
	position: absolute;
}

.registration_button button {
	margin-left: 80px;
}

.agree_checkbox {
	//width: 165px;
	//overflow-wrap: break-word;
}